:root {
  --bg: #f9fafb;
  --danger: #dc2626;
  --muted: #6b7280;
  --primary: #111827;
  --radius: 0.75rem;
}

body {
  align-items: center;
  background: var(--bg);
  color: var(--primary);
  display: flex;
  flex-direction: column;
  font-family: system-ui;
  gap: 1rem;
  line-height: 1.6;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 56rem;
  padding: 2rem;
}

body * {
  box-sizing: border-box;
  width: 100%;
}

#drop-zone {
  color: var(--muted);
  cursor: pointer;
  padding: 2rem;
  transition: all 0.3s ease;
}

#error {
  color: var(--danger);
}

#project {
  border-radius: var(--radius);
  border-style: solid;
  padding: 0;
}

.card {
  background: color-mix(in srgb, currentColor 7.5%, white);
  border: 2px dashed color-mix(in srgb, currentColor 10%, transparent);
  border-radius: var(--radius);
  margin: 0;
  overflow: hidden;
  padding: 1rem;
  text-align: center;
}

.grid {
  max-width: none;
  position: relative;
}

.grid-container {
  background: color-mix(in srgb, currentColor 7.5%, white);
  height: 32rem;
  overflow: auto;
  padding: 1rem;
  position: relative;
}

.tile {
  height: 16px;
  position: absolute;
  width: 16px;
}

.tile img {
  height: 100%;
  object-fit: contain;
  transform-origin: center;
  width: 100%;
  will-change: transform, filter;
}

.mobile-only {
  display: none;
}

.need-child:empty {
  display: none;
}

.not-mobile {
  display: unset;
}

@media (max-width: 640px) {
  body {
    padding: 1rem;
  }

  .mobile-only {
    display: unset;
  }

  .not-mobile {
    display: none;
  }
}
